RewriteEngine on
RewriteCond %{HTTP_HOST} ^static.g.ppx.pw$ [NC]
RewriteRule ^(.*)$ static.php [L]

#RewriteCond %{HTTP_HOST} gstatic.com$ [NC]
#RewriteRule ^(.*)$ static.php

RewriteRule ^(.*)$ core.php [L]